body {
    margin: 0;
    color: whitesmoke;
    font-family: "Quicksand", sans-serif;
    max-width: 100%;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent),
        radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent)
}

button {
    color:whitesmoke;
}

/* CANVAS */

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

/* Alert */
.alert {
    top:5%;
    left: 15%;
}

/* Animation drag et drop */

.draging {
    opacity: 0.5;
}

.draging_border {
    border: 2px solid rgb(0, 170, 255);
    border-radius: 3%;
}

.border_enter {
    border: 2px solid rgb(135, 240, 252);
    transform: scale(1.05);
}


.dragable, .dragable_doing, .dragable_done {
    cursor: grab;
}


/* MAIN CONTENT */

.h1 {
    font-size: 3rem !important;

}

.box {
    border-radius: 30px;
    box-sizing: border-box;
    background-color: #000000;
    width: 20%;
    height: 50vh;
    background: radial-gradient(circle, rgba(41, 196, 255, 0.13) 10%, rgba(105, 71, 164, 0.13) 68%);
    box-shadow: rgba(113, 125, 255, 0.1) 0px 1px 2px, rgba(113, 125, 255, 0.07) 0px 2px 4px, rgba(113, 125, 255, 0.07) 0px 4px 8px, rgba(113, 125, 255, 0.07) 0px 8px 16px, rgba(113, 125, 255, 0.07) 0px 16px 32px, rgba(113, 125, 255, 0.07) 0px 32px 64px;
    transition: all 0.5s ease;
}

.todolist_container {
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

/* Drop area */
.dropArea {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    width: 90%;
    max-width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 5%;
    margin-right: 5%;
}

.dropArea li {
    max-width: 100%;
    word-wrap: break-word;
}

#doneTaskArea li {
    opacity: 0.5;
    text-decoration: line-through;
}

/* Add task */

.add_task_button {
    width: 8vw;
    height: 5vh;
    border: 1px solid rgb(11, 11, 72);
    border-radius: 50px;
    background-size: 300% 100% !important;
    background-image: linear-gradient(130deg, rgba(121, 68, 154, 0.9) 21%, rgba(87, 128, 196, 1) 60%, rgba(35, 232, 225, 0.9) 100%);
    background-position: left center !important;
    background-repeat: no-repeat;
    transition: background-position 0.4s ease, transform 0.3s ease;
    box-shadow: rgba(113, 125, 255, 0.50) 0px 0px 20px;

}

.add_task_button:hover {
    transform: scale(1.1) !important;
    background-position: right !important;
}

.add_task_input {
    color: white;
    height: 40px;
    background-color: rgba(113, 125, 255, 0.50);
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 1s ease;
}

.add_task_input::placeholder {
    padding-left: 5%;
    color: rgba(255, 255, 255, 0.737);
}

/* Delete task */

#deleteArea {
    width: 50px;
    height: auto;
}

.trou_noir {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.trou_noir_dragover {
    transform: scale(1.3);
}

.rotation {
    animation: rotation 2s linear infinite;

}

@keyframes rotation {
    from {
        transform: rotate(0deg);

    }

    to {
        transform: rotate(360deg);

    }
}

/* Checkbox */

.checkbox_container {
    align-items: center;
    background-color: rgba(113, 125, 255, 0.50);
    width: 100%;
    border-radius: 5%;
    transition: background-color 0.5s ease;
}

 /* Save / Reset  */

.manage_container {
    bottom: 35%;
    right: 3%;
}

.manage_button {
    
    border-radius: 5px;
    border: none;
    background-size: 300% 100% !important;
    background-image: linear-gradient(130deg, rgba(121, 68, 154, 0.9) 21%, rgba(87, 128, 196, 1) 60%, rgba(35, 232, 225, 0.9) 100%);
    background-position: left center !important;
    background-repeat: no-repeat;
    transition: background-position 0.4s ease, transform 0.3s ease;
    box-shadow: rgba(113, 125, 255, 0.50) 0px 0px 20px;
    padding:5px 10px;
}

.manage_button:hover {
    transform: scale(1.1) !important;
    background-position: right !important;
}

/* Modal de validation de suppréssion */

.modal_delete {
    display: flex;
    flex-direction: column;
    background-color: rgba(113, 125, 255, 0.95);
    box-shadow: rgba(113, 125, 255, 0.50) 0px 0px 20px;
    border-radius: 10px;
    position: fixed;
    top: 35%;
    left: 35%;
    width: 30%;
    height: 20vh;
    transition: all 0.5s ease;
}



#closeButton img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* DARK MODE / LIGHT MODE  */

#canvasLight {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.canvasLightAppear {
    
    opacity: 1!important;
}

.canvasDarkDisapear {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.background_toggle {
    background-color: rgba(113, 125, 255, 0.50);
    border-radius: 1000px;
    width: 50px;
    height: 25px;
    display: block;
    position: relative;
    cursor:pointer;
    transition: background-color 0.5s ease;
}

.circle {
    width: 20px;
    height: 20px;
    top: calc(50% - 20px/ 2);
    left: 5%;
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;
    transition: all 0.5s ease;
}

.circle_click {
left: calc(95% - 20px);
background-color: rgba(58, 113, 231, 1);
}

#inputToggleMode {
    display: none;
}

.background_checkbox_light {
    background-color: rgba(58, 113, 231, 0.5);
}

.disapear {
    display: none;
}

.modal_light {
    background-color: rgba(113, 175, 255, 0.95);
    box-shadow: rgba(177, 222, 247, 0.9) 0px 0px 3px;
}

.box_light {
    background: radial-gradient(circle, rgba(177, 222, 247, 0.3) 0%, rgba(58, 113, 231, 0.5) 68%);
    box-shadow: rgba(177, 222, 247, 0.1) 0px 1px 2px, rgba(177, 222, 247, 0.007) 0px 2px 4px, rgba(177, 222, 247, 0.07) 0px 4px 8px, rgba(177, 222, 247, 0.07) 0px 8px 16px, rgba(177, 222, 247, 0.07) 0px 16px 32px, rgba(177, 222, 247, 0.07) 0px 32px 64px;

}

.manage_button_light {
    background-image:linear-gradient(130deg, rgba(58, 113, 231, 0.9) 21%, rgba(87, 128, 196, 1) 60%, rgba(42, 181, 255, 0.9) 100%); 
    box-shadow: rgba(177, 222, 247, 0.1) 0px 1px 2px, rgba(177, 222, 247, 0.007) 0px 2px 4px, rgba(177, 222, 247, 0.07) 0px 4px 8px, rgba(177, 222, 247, 0.07) 0px 8px 16px, rgba(177, 222, 247, 0.07) 0px 16px 32px, rgba(177, 222, 247, 0.07) 0px 32px 64px;
}